@import "http://fonts.googleapis.com/css?family=Raleway";
body#createBody{
    font-family:'Raleway',sans-serif
    height:100%;
    width:100%;
    background: url("/assets/header.jpg");
    background-position: top;
    background-size: cover;
}
img#logo{
  margin-left:90px
}

div#first{
  width:350px;
  height:auto;
  margin:50px auto 0;
  padding:50px;
  background: rgba(0, 115, 153, 0.3);
  /* background: rgba(70, 210, 209, 0.3); */
  /* background-color:#46d2d1; */
  color:#333;
  border:2px solid #C2D6FF;
  border-radius:40px 0 40px 0
}

label{
  color: white;
  font-size:15px;
  font-weight:700
}

input{
  opacity: none;
  background-image:url(../images/icon_name.png);
  background-repeat:no-repeat;
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  /* For I.E */
  -moz-box-shadow:0 0 10px;
  /* For Mozilla Web Browser */
  border-radius:5px;
  -webkit-border-radius:5px;
  /* For I.E */
  -moz-border-radius:5px
  /* For Mozilla Web Browser */
}


/* input#fname{
  background-image:url(../images/icon_name.png);
  background-repeat:no-repeat;
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  /* For I.E */
  /* -moz-box-shadow:0 0 10px; */
  /* For Mozilla Web Browser */
  /* border-radius:5px; */
  /* -webkit-border-radius:5px; */
  /* For I.E */
  /* -moz-border-radius:5px */
  /* For Mozilla Web Browser */
} */

/* input#email{
  background-image:url(../images/email.png);
  background-repeat:no-repeat;
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  /* For I.E */
  /* -moz-box-shadow:0 0 10px; */
  /* For Mozilla Web Browser */
  /* border-radius:5px; */
  /* -webkit-border-radius:5px; */
  /* For I.E */
  /* -moz-border-radius:5px */
  /* For Mozilla Web Browser */
} */
/* input#contact{
  background-image:url(../images/mobile.png);
  background-repeat:no-repeat;
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  /* For I.E */
  /* -moz-box-shadow:0 0 10px; */
  /* For Mozilla Web Browser */
  /* border-radius:5px; */
  /* -webkit-border-radius:5px; */
  /* For I.E */
  /* -moz-border-radius:5px */
  /* For Mozilla Web Browser */
} */
/* input#address{
  background-image:url(../images/home.png);
  background-repeat:no-repeat;
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  /* For I.E */
  /* -moz-box-shadow:0 0 10px; */
  /* For Mozilla Web Browser */
  /* border-radius:5px; */
  /* -webkit-border-radius:5px; */
  /* For I.E */
  /* -moz-border-radius:5px */
  /* For Mozilla Web Browser */
}
input#submit {
  background-color:#cc7a66;
  border-radius:5px;
  border:none;
  padding:10px 25px;
  color:#FFF;
  text-shadow:1px 1px 1px #949494;
  margin-left:120px
}
input#submit:hover{
  background-color:#FF9980
}
}

.c-form-box select.form-control:focus {
  outline: 0; background: #fff; border: 3px solid #e8643e;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
