/* * {
	margin:0 auto;
	padding:0;
} */

/* ul{
	padding-top: 10px;
}

li{
	list-style:none;
	} */

/* #wrap{
	margin:0 auto;
	width: 1024px;
	display:inline-block;
	} */

/* #header{
	height: 180px;
	width:1300px;
	padding: 0;
	margin-top: 0px;
	margin-bottom:10px;
	margin-left:42px;
	margin-right: 0px;
	float: left;
} */ */

/* .logo1 {
	float: left;
	height: 168px;
	width: 168px;
	border: 0;
	padding: 0;
	margin-top: 14px;
	}
.logo1 img{
	-webkit-filter: grayscale(0);
	cursor: pointer;
}
.logo2{
	float: left;
	width: 90px;
	height: 95px;
	border: 0;
	margin-top: 45px;
	margin-left: -10px;
	}

	.nav {font-family: 'Nanum Gothic', sans-serif;
		box-shadow: 10px 12px 20px black;
		z-index:999;
	  background: linear-gradient(to bottom right, #b5b6bb, #6f6f78);
		padding-left:0;
		margin:0px;
		text-align: left;
		float:left;
		height: 50px;
		width: 775px;
		margin-top: 73px;
		margin-left:-45px;
	}
.nav ul li {
	font-size: 30px;
	text-decoration: none;
	display: inline;
	margin-left: 63px;
	font-weight:bold;
	line-height: 100%;
}
.nav ul li a {
	text-decoration: none;
	color: white;
}
.nav ul li a:hover {
	color: black;
}

#footer{
	width:1024px;
	height:100px;
	margin-top:20px;
	margin-left: 30px;
	float: left;
}

#footer .info{
	font-size: 12px;
	line-height: 120%;
	color:red;
	padding: 0;
	text-align: center;
	} */


#wrap {
	max-width: 1024px;
	margin:0 auto;
}

#photo_wrapper {
	opacity: 0.8;
	max-width:1024px;
	min-width:210px; /* 포토 위치 */
	height: 500px;
	margin-left:400px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 0px;
	float: left;
}

#photo_wrapper:hover{
	opacity: 1;
}

#banner{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 105px;
	float: left;
}
#columns {
	max-width: 1024px;
	-webkit-column-count:4;
	-webkit-column-gap:1px;
	-moz-column-count:2;
	-moz-column-gap:1px;
	column-count:4;
	column-gap:1px;
}

@import url(https://fonts.googleapis.com/css?family=Anaheim);

@import url(https://fonts.googleapis.com/css?family=Anaheim);

/*
*:before,
*:after{
} */

.container{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}

#carousel1{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel1:hover{
	animation-play-state: paused;
}
#carousel1 figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px #ffffff;
}
#carousel1 figure:nth-child(1) {transform: rotateY(0deg) translateZ(288px);}
#carousel1 figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel1 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel1 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel1 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel1 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel1 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel1 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel1 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

#carousel2{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 27s infinite linear;
	margin-top: 180px;
	z-index: 2;
}
#carousel2:hover{
	animation-play-state: paused;
}
#carousel2 figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px #ffffff;
}
#carousel2 figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel2 figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel2 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel2 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel2 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel2 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel2 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel2 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel2 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

#carousel3{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
	margin-top: 360px;
	z-index: 1;
}
#carousel3:hover{
	animation-play-state: paused;
}
#carousel3 figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px #ffffff;
}
#carousel3 figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel3 figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel3 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel3 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel3 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel3 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel3 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel3 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel3 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
	width: auto;
	height: auto;
	max-width: 820px;
  max-height: 120px;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

.card {
	float:left;
	display:inline-block;
	width:171px;
	height: 362px;
	padding:0px;
	margin:6px;
	background-color:black;
	opacity: 1 ;
}

.card img:hover{
	opacity: 0.7;
}



@media(min-width:960px){
	#columns{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count:4;

	}
}

@media(min-width:1024px) {
	#columns{
		-webkit-column-count:4;
		-moz-column-count:4;
		column-count:4;
	}
}
