#wrap {
	max-width: 1024px;
	margin:0 auto;
}

#photo_wrapper {
	opacity: 0.8;
	/* max-width:1024px; */
	min-width:210px; /* 포토 위치 */
	height: 500px;
	/* margin-left:400px; */
	margin-top:50px;
	margin-bottom:10px;
	margin-right: 0px;
	float: left;
	vertical-align:middle;
}

#photo_wrapper:hover{
	opacity: 1;
}

#banner{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 105px;
	float: left;
}
#columns {
	max-width: 1024px;
	-webkit-column-count:4;
	-webkit-column-gap:1px;
	-moz-column-count:2;
	-moz-column-gap:1px;
	column-count:4;
	column-gap:1px;
}

@import url(https://fonts.googleapis.com/css?family=Anaheim);

@import url(https://fonts.googleapis.com/css?family=Anaheim);

/*
*:before,
*:after{
} */

.photo_container{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	/* position: relative; */
	perspective: 1000px;
	vertical-align:middle;
}

#carousel1{
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel1:hover{
	animation-play-state: paused;
}
#carousel1 figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px #ffffff;
}
#carousel1 figure:nth-child(1) {transform: rotateY(0deg) translateZ(288px);}
#carousel1 figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel1 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel1 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel1 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel1 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel1 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel1 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel1 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

#carousel2{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 27s infinite linear;
	margin-top: 180px;
	z-index: 2;
}
#carousel2:hover{
	animation-play-state: paused;
}
#carousel2 figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px #ffffff;
}
#carousel2 figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel2 figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel2 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel2 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel2 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel2 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel2 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel2 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel2 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

#carousel3{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
	margin-top: 360px;
	z-index: 1;
}
#carousel3:hover{
	animation-play-state: paused;
}
#carousel3 figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px #ffffff;
}
#carousel3 figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel3 figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel3 figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel3 figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel3 figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel3 figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel3 figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel3 figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel3 figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.photo{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
	width: auto;
	height: auto;
	max-width: 820px;
  max-height: 120px;
}
.photo:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

.card {
	float:left;
	display:inline-block;
	width:171px;
	height: 362px;
	padding:0px;
	margin:6px;
	background-color:black;
	opacity: 1 ;
}

.card img:hover{
	opacity: 0.7;
}



@media(min-width:960px){
	#columns{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count:4;

	}
}

@media(min-width:1024px) {
	#columns{
		-webkit-column-count:4;
		-moz-column-count:4;
		column-count:4;
	}
}
