/* .productName{
  font-size: 25px
} */

.hidden{
  opacity: 0;
}

.productContainer{
  height: 100%;
  width: 100%;
}

aside{
	margin-top: 100px;

}

.product-card1 {
  background: darkred;
  width: 540px;
  height: 156px;
  position: static;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
	margin-left: 0px;
  margin-right: 0px;
  transform: translate(50%, 30%);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 1.5s 0.2s cubic-bezier(0.55, 0.055, 0.275, 0.19) forwards, materia 0.5s .9s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.product-card1 header {
  width: 230px;
  height: 500px;
  padding: 0px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 10px;
  opacity: 0;
  text-align: center;
  animation: moveIn 1s 1.5s ease forwards;
}

.product-card1 header h1 {
  font-size: 25px;
  color: darkred;
}

.product-card1 header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 30px 20px;
}

.product-card1 header a > img {
  max-width: 100%;
}


.product-card2 {
  background: darkred;
  width: 540px;
  height: 156px;
  position: static;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
	margin-left: 0px;
  transform: translate(50%, 30%);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 1.5s 0.2s cubic-bezier(0.55, 0.055, 0.275, 0.19) forwards, materia 0.5s .9s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.product-card2 header {
  width: 230px;
  height: 500px;
  padding: 0px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 10px;
  opacity: 0;
  text-align: center;
  animation: moveIn 1s 1.5s ease forwards;
}

.product-card2 header h1 {
  font-size: 25px;
  color: darkred;
}

.product-card2 header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 30px 20px;
}

.product-card2 header a > img {
  max-width: 100%;
}
/* 상품 가격 표시 */
/* .product-card1 header a:after {
  position: absolute;
  content: "$500";
  bottom: 3px;
  right: 3px;
  padding: 10px 5px;
  border: 4px solid #FFFFFF;
  transform: scale(0);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  animation: scaleIn 1.3s 1.5s ease forwards;
} */

/* 상품 가격 표시 */
/* .product-card2 header a:after {
  position: relative;
  content: "$500";
  bottom: 3px;
  right: 3px;
  padding: 10px 5px;
  border: 4px solid #FFFFFF;
  transform: scale(0);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  animation: scaleIn 1.3s 1.5s ease forwards;
} */

button {
    margin-top: 25px;
    margin-left: 25px;
    width: auto;
    border: 1px solid darkred;
    background: #fff;
    /* padding: 10px 30px; */
    color: darkred;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
  background: darkred;
  color: white;

}

.product-card1 .product-bio1 .product-card2 .product-bio2 .product-card3 .product-bio3{
  width: 165px;
  height: 180px;
  display: inline-block;
  float: right;
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  animation: moveIn 1s 1s ease forwards;
}

.product-card3 {
  background: darkred;
  width: 540px;
  height: 156px;
  position: static;
  left: 50%;
  top: 10%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
	margin-left: 0px;
  transform: translate(50%, 30%);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 1.5s 0.2s cubic-bezier(0.55, 0.055, 0.275, 0.19) forwards, materia 0.5s .9s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.product-card3 header {
  width: 230px;
  height: 500px;
  padding: 0px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 10px;
  opacity: 0;
  text-align: center;
  animation: moveIn 1s 1.5s ease forwards;
}

.product-card3 header h1 {
  font-size: 25px;
  color: darkred;
}

.product-card3 header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 30px 20px;
}

.product-card3 header a > img {
  max-width: 100%;
}

/* 상품 가격 표시  */
/* .product-card3 header a:after {
  position: absolute;
  bottom: 3px;
  right: 3px;
  padding: 10px 5px;
  border: 4px solid #FFFFFF;
  transform: scale(0);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  animation: scaleIn 1.3s 1.5s ease forwards;
} */

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 36px;
    height: 36px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @ -webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .product-card1 header {
    width: auto;
    height: auto;
    padding: 20px 35px;
    display: block;
    float: none;
    border-right: none;
  }
	.product-card2 header {
    width: auto;
    height: auto;
    padding: 20px 35px;
    display: block;
    float: none;
    border-right: none;
  }

	.product-card3 header {
    width: auto;
    height: auto;
    padding: 20px 35px;
    display: block;
    float: none;
    border-right: none;
  }

  .product-card1 .product-bio1 .product-card2 .product-bio2 .product-card3 .product-bio3{
    width: auto;
    height: auto;
    padding: 10px 20px 30px 20px;
    display: block;
    float: none;
  }


  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
}
